<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    div.msgbbl{
        
        padding: 5px 10 px;
        
    }

    span.msguser{
        background-color:#baedd7;
        border: 20px;
        	border-radius: 5px 5px 5px 5px;
    }

    span.msg_msg{
        background-color:#baedd7;
        border: 20px;
        	border-radius: 5px 5px 5px 5px;
    }
</style>

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class ="well text-center">
            <h4>My chat App<h4>
        </div>
        <div class ="col-sm-8">
            <div id= "nomsg">
                <h1 style="color: #ccc">No MEsssage yet </h1>
            </div>
        </div>
        <div class ="col-sm-4">
            <form action ="" method="POST">
                <b>Type Your Messag Below <span class="glyphicon glyphicon-arrow-down"> </span></b>
                <hr/>
                <div class="form-group">
                    <label for="exampleInputPassword1">messgae</label>
                    <input type="Text" class="message form-control" id="exampleInputPassword1" placeholder="Message">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">UserNAme to send</label>
                    <input type="Text" class="username2 form-control" id="exampleInputPassword1" placeholder="Message">
                </div>
                 <button type="submit" class="btn btn-success">Send<span class = "glyphicon glyphicon-send"></span></button>
            </form>
             <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="username form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="UserNAme">
                <small id="emailHelp" class="form-text text-muted">Usernaem mate</small>
            </div>
         <button type="next" class="btn btn-success" onclick="register()">Register<span class = "glyphicon glyphicon-send"></span></button>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>

        var socket = io.connect( 'http://localhost:5000/' )
        //broadcasting
        socket.on( 'connect',function(){
            socket.emit( 'my event', {
                data : 'User Connected'
            })
        } )

        var register= () =>{
            
            var user_name = $ ('input.username').val()
            socket.emit( 'register event', user_name )
            console.log('sending')
            $( 'input.message' ) .val( '' ).focus()

        }

        var form = $( 'form' ).on( 'submit', function ( e ){
            e.preventDefault()
            var user_name = $ ('input.username2').val()
            var message = $ ('input.message').val()
            socket.emit( 'private msg', { 
                user : user_name,
                msg : message
            } )

            $( 'input.message' ) .val( '' ).focus()
        })

        //caprute message
        socket.on( 'my response' , function( msg ){
                if( typeof msg.user !== 'undefined'){
                    $( 'h1' ).remove()
                    $( 'div.msg-wrapper' ).append( '<div class ="msgbbl"><span class ="msguser"><b>'+ msg.user+'</b></span> : <span class="msg_msg">'+msg.msg+'</span></div>' )
                }
        })

        socket.on( 'private room' , function( msg ){
                alert(msg)
                //    $( 'h1' ).remove()
                 //   $( 'div.msg-wrapper' ).append( '<div class ="msgbbl"><span class ="msguser"><b>'+ msg.user+'</b></span> : <span class="msg_msg">'+msg.msg+'</span></div>' )
                
        })

        
    </script>
  </body>
</html>